.serviceDiv {
  display: flex;
  flex-direction: column;
  animation: move 12s infinite;
  height: 76px;
  overflow: hidden;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}
